@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Sembunyikan Scrollbar (WebKit) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* Sembunyikan Scrollbar (Lainnya) */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE & Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Animasi: Kursor Kedip */
@keyframes cursor-blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.animate-cursor-blink {
    animation: cursor-blink 1s step-end infinite;
}

/* Animasi: Mengetik (Siklus) */
@keyframes cursor-cycle {
    0% {
        content: '-';
    }

    16.66% {
        content: '\00a0';
    }

    /* Spasi */
    33.33% {
        content: '_';
    }

    50% {
        content: '\00a0';
    }

    /* Spasi */
    66.66% {
        content: '.';
    }

    83.33% {
        content: '\00a0';
    }

    /* Spasi */
}

.animate-cursor-cycle::after {
    content: '_';
    animation: cursor-cycle 3s step-end infinite;
}